body{
    padding: 0px;
    margin: 0px;
}
.container{
    max-width: 1320px;
    padding: 20px;
    margin:auto;
}
nav{
    display: flex;
    gap:20%;
    justify-content: center;
    border: 1px ridge;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
button{
    width: 200px;
    padding: 5px 20px;
    color:rgb(170, 38, 38);
    background-color:#49a414;
    text-align: center;
    font-size: larger;
    font-weight: 800;
    letter-spacing: 1px;
    border:1px ridge;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
h2,h1{
    text-align: center;
    color:#535c51;
    letter-spacing: 1.5px;
}

h3,p{
    text-align: start;
    padding: 5px;
    margin:0px;
}

#productsList{
    margin:auto;
    margin-top:20px;
    display: grid;
    gap:20px;
    grid-template-columns: repeat(5,1fr);
    grid-auto-rows: auto;
    justify-content: center;

}
#productsList img{
    width: 100%;
    display: block;
}
#productsList>div{
    /* padding: 5px; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding-bottom:20px;
    border-radius: 10px;
    border:1px ridge;
}

#productsList button{
    width: 100%;
    padding: 5px 20px;
    color:white;
    background-color:#49a414;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#pagination{
    margin: 40px;
    display: flex;
    gap:5%;
    justify-content: center;
}
#pagination button{
    width: 200px;
    color:red;
    background-color:#17a2b7;
}
#pagination button:disabled{
    background-color:red;
    color:white;
}

@media (max-width: 750px) {
    #productsList{
        margin:auto;
        margin-top:20px;
        display: grid;
        gap:20px;
        grid-template-columns: repeat(3,1fr);
        grid-auto-rows: auto;
        justify-content: center;
    
    }
  }
  @media (max-width: 500px) {
    #productsList{
        margin:auto;
        margin-top:20px;
        display: grid;
        gap:20px;
        grid-template-columns: repeat(2,1fr);
        grid-auto-rows: auto;
        justify-content: center;
    
    }
  }
